@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color:lightgrey;
    font-family: "Poppins", sans-serif;
}

.container-1 {
    height: 300px;
    width: 180px; 
    border-top-left-radius: 50px;  
    background-color: white; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.container-1 img{
    margin-left: 40px;
    margin-top: 5px;
}
.artikel {
    background-color:  rgb(73, 181, 214); 
    text-align: center;  
    color: white; 
}
.header{
    height: 250px;
    width: 1100px; 
    border-bottom-right-radius: 50px;  
    background-color: rgb(73, 181, 214);
    display: flex; 
    margin-top: -300px;
    margin-left: 200px;
    color: white;
    font-size: 30px;
}
.header p{
    margin-left: 600px;
    margin-top: 130px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 1100px; 
    margin-top: 10px; 
    margin-left: 200px;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(73, 181, 214);
    color: white;
  }
  .container-2{
    width: 1100px;
    height: 250px;
    background-color: white;
    margin-left: 200px;
  }
  .container-2 h2{
    margin-left: 15px;
    margin-top: 10px;
  }
  .container-2 p{
    margin-left: 15px;
  }
.circel {
      height: 50px; /* Adjust the height */
      width: 50px; /* Adjust the width */
      background-color: lightgray;
      color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      margin-bottom: 20px;
      margin-left: 145px;
  }
  .circel:hover {
      background-color: black;
      transition: 0.4s;
      color: white;
  }
  .circel i {
      font-size: 25px; /* Adjust the font size */
  }
  .contact .btn3 {
      background-color: black;
      color: white;
      outline: none;
      border: none;
      height: 40px;
      width: 140px;
      border-radius: 4px;
  }

  .btn3:hover {
      background: white;
      color: black;
      transition: 0.4s;
      border: 1px solid black;
  }

  .contact .container-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contact .row {
      display: flex;
      justify-content: space-between;
  }

  .contact .col-lg-4 {
      text-align: center;
      flex: 1;
  }
  .niken{
    display: flex;
    height: 15rem;
    gap: 1rem;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.niken > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.niken > div:hover{
    flex: 5;
}
th, td {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center; /* Mengganti justify-content dan align-items menjadi text-align */
    padding: 4px; /* Menambahkan padding untuk sel lebih baik */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Menambahkan margin atas untuk penempatan yang lebih baik */
   
}
table {
    width: 80%;
    margin: 0 auto; /* Menambahkan margin untuk mengatur ke tengah secara horizontal */
}

  .footer{
    width: 1350px;
    height: 50px;
    background-color: rgb(73, 181, 214);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  