
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    width: 50%;
  }

  form {
    margin-top: 20px;
  }

  h1 {
    text-align: center;
  }

